@font-face {
  font-family: 'FuturaBQ-Medium'; /* 自定义字体名称 */
  src: url('./static/fonts/FuturaBQ-Medium.otf') format('opentype'); /* 字体文件路径和格式 */
  /* 可以添加其他字体属性，比如 font-weight 和 font-style */
}
@font-face {
  font-family: 'GillSansMTPro-Light'; /* 自定义字体名称 */
  src: url('./static/fonts/GillSansMTPro-Light.otf') format('opentype'); /* 字体文件路径和格式 */
  /* 可以添加其他字体属性，比如 font-weight 和 font-style */
}


body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .coming-soon {
    background-image: url("/static/images/place_de_vendome.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    color: #ffffff; /* 文本颜色 */
    text-align: center;
  }
  
  .container {
    margin-top: 10%;
    margin-left: 38px;
    text-align: center;
    color: white;
  }

  .logo{
    width: 400px;
  }

  /* 可以添加其他样式来美化页面，比如字体、按钮等等 */
  h1 {
    font-family: FuturaBQ-Medium, sans-serif;
    margin-top: 80px;
    font-size: 52px;
    margin-bottom: 20px;
}

p {
    font-family: GillSansMTPro-Light, sans-serif;
    font-size: 24px;
}
  